<div class="container text-c">
<h2>Tennis Clubs Directory</h2>
<table class="content-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Name">Yeo-Ru-Mul Tennis Center</td>
      <td data-label="City">Incheon</td>
      <td data-label="Address">189 Something Road</td>
      <td data-label="Phone">032-1212-1212</td>
      <td data-label="Link">www.example.com</td>
    </tr>
    <tr>
      <td data-label="Name">Yeo-Ru-Mul Tennis Center</td>
      <td data-label="City">Incheon</td>
      <td data-label="Address">189 Something Road</td>
      <td data-label="Phone">032-1212-1212</td>
      <td data-label="Link">www.example.com</td>
    </tr>
    <tr>
      <td data-label="Name">Yeo-Ru-Mul Tennis Center</td>
      <td data-label="City">Incheon</td>
      <td data-label="Address">189 Something Road</td>
      <td data-label="Phone">032-1212-1212</td>
      <td data-label="Link">www.example.com</td>
    </tr>
  </tbody>
</table>

</div>

