<style>
.home-page-container {
  min-height:99vh;
}

.hero {
  width: 100vw;
  background: #ff8f8f;
  text-align:center;
}
.hero-text {
  color: darkred;
}
.hero-text2 {
  color: darkgreen;
}
</style>

<main class="home-page-container">
  <div class="hero">
    <h1><span class='hero-text'>My</span><span class='hero-text2'>Rails</span>Starter</h1>
    <%# <h1><span class='hero-text'>Korea</span><span class='hero-text2'>Tennis</span>Hub</h1> %>
  </div>
</main>

<% if Current.user %>
  <p>logged in as: <%= Current.user.email %></p>
<% end %>

