<style>
.hero {
  width: 100vw;
  background: salmon;
}
.hero-text {
  color: red;
}
.hero-text2 {
  color: green;
}
</style>

<div class="hero">
  <h1><span class='hero-text'>Korea</span><span class='hero-text2'>Tennis</span>Hub</h1>
</div>

