<h1>Forgot your password?</h1>

<%= form_with url: password_reset_path do |form| %>

  <div class="form-field">
    <%= form.label :email %>
    <br/>
    <%= form.text_field :email %>
  </div>

  <%= form.submit "Reset Password", class: "btn-primary" %>



<% end %>