<div class="container text-c">
<h2>
  Pro Shops Directory
</h2>

<table class="content-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Yeo-Ru-Mul Tennis Center</td>
      <td>Incheon</td>
      <td>189 Something Road</td>
      <td>032-1212-1212</td>
      <td>www.example.com</td>
    </tr>
    <tr class="active-row">
      <td>Yeo-Ru-Mul Tennis Center</td>
      <td>Incheon</td>
      <td>189 Something Road</td>
      <td>032-1212-1212</td>
      <td>www.example.com</td>
    </tr>
    <tr>
      <td>Yeo-Ru-Mul Tennis Center</td>
      <td>Incheon</td>
      <td>189 Something Road</td>
      <td>032-1212-1212</td>
      <td>www.example.com</td>
    </tr>
  </tbody>
</table>



</div>

