<style>
footer {
  background-color: var(--tennis-blue);
  color: whitesmoke;
  padding: 5em;
  min-height: 10em;
  font-size: 15px;
  letter-spacing: 1px;
  justify-content: space-evenly;
}
footer > ul {
  margin: 0 30px;
}
</style>

<footer class='flex'>
  <ul>
    <li>
      <%= link_to "about", about_path, class: "nav-link" %>
    </li>
    <li>change log</li>
    <li>terms</li>
    <li>privacy</li>
  </ul>

  <ul>
    <li>footer link</li>
    <li>footer link</li>
    <li>footer link</li>
    <li>footer link</li>
  </ul>
</footer>