<div class="container text-c">
  <p>My Profile</p>

  <p>name: <%= @user.name %></p>

  <p>gender: <%= @user.gender %></p>

  <p>city: Seoul</p>
  <p>ITF World #: 20.5</p>
  <p>plays: right-handed</p>
</div>
