<style>
  .changelog {
    padding: 5em 0;
  }
  ul.about {
    list-style-type: disc;
  }
</style>

<div class="container text-c">

  <h2>About Page</h2>
  <p>Coming Soon.</p>


  <hr>

  <div class="changelog">
    <h3>Change Log (upcoming features)</h3>
    <br>
    <ul class='about'>
      <li>i18n (Korean version)</li>
    </ul>
  </div>
  


</div>