<div class="profile-grid">

  <div class="sidebar">
    <%= render "profile/sidebar" %> 
  </div>

  <div class="profile-content">
    <section class="text-c">
      <% if current_user %>
        <h2>My Activity</h2>
        <div class="profile-card">
          <p>tournament history</p>
        </div>
      <% else %>
        <h3>A Blank Profile Page. Must Sign in to see your profile page.</h3>
      <% end %>
    </section>
  </div>
  
</div>